Final/Finel_Project.json
{
  "name": "Finel Project",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "c668214908a80f81a4b7214e6441e87b42b8eb92e54b556127091d931ca5c738@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Guest Birthday"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -140
      ],
      "id": "085c59c2-cfff-4709-9c22-81025f139122",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8PHNMP7tq5uUHu7d",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b387a8e-fcfb-4d6b-a85e-e39152f164ba",
              "leftValue": "={{ $json.start.dateTime }}",
              "rightValue": "={{ $now.format(\"YYYY-MM-DD\") }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "a865b009-e700-48bf-a66b-4d3973f85205",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dcac3fc0-0f4e-4c4c-93dd-d1960558cb31",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        80
      ],
      "id": "453e4bac-0292-429b-a476-73a2c8172d16",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=“Write a warm welcome message for {{ $json.summary }} visiting today at SNS.”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        180,
        60
      ],
      "id": "db839dd2-8c67-4726-8fdc-5f86fa8f3ab9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        540,
        200
      ],
      "id": "c5d19644-7d7e-4e79-97e8-77b5f8e017b6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VAPHa9OefCSf92SO",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Calendar Trigger1').item.json.attendees[0]['email']}}",
        "subject": "Welcome To SNS!!",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        540,
        60
      ],
      "id": "85a9fc00-78cd-4821-b88c-1af116f3ae38",
      "name": "Gmail",
      "webhookId": "b6269390-c922-496d-91a2-eafe51d4d2b9",
      "credentials": {
        "gmailOAuth2": {
          "id": "BeULXI8kiiqQ083s",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dear Sir, for your kind reminder\n {{ $json.summary }} is visitng our campus on {{ $json.sevenDaysAfter }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        380,
        300
      ],
      "id": "58f4e1e0-d1d6-45c4-9793-d7f6dc7d3cc8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        600
      ],
      "id": "f2b57878-a1ea-429f-b7aa-1b26eb5e782c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "VAPHa9OefCSf92SO",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Sakthirithu171113@gmail.com",
        "subject": "Guest Visit Reminder",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        280
      ],
      "id": "6d9f71ed-9e47-4f48-9ef1-a17fef0b6a0c",
      "name": "Gmail1",
      "webhookId": "f5647bb4-ea11-4fcb-a606-9fcb21c48b15",
      "credentials": {
        "gmailOAuth2": {
          "id": "BeULXI8kiiqQ083s",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  return {\n    summary: item?.json?.summary,\n    startDate: item?.json?.start.date,\n  };\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -140
      ],
      "id": "abd2e7ec-0d83-46cd-8fac-1eaff6a94c8b",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QTjHcIcIZL8DO5oqAz2XfiAHun6rs6TKuzsAQGIdjC8",
          "mode": "list",
          "cachedResultName": "Record the Birthdate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QTjHcIcIZL8DO5oqAz2XfiAHun6rs6TKuzsAQGIdjC8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QTjHcIcIZL8DO5oqAz2XfiAHun6rs6TKuzsAQGIdjC8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "summary"
          ],
          "schema": [
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "startDate",
              "displayName": "startDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        200,
        -140
      ],
      "id": "612f06fc-d11e-4545-8f7a-d70e2e8b9724",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fo1RnxVTP9EpcS2u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a friendly birthday email for {{ $json[\"$json.summary\"] }} who visited SNS Institutions in the past.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        720,
        -160
      ],
      "id": "65f6bc1a-f782-437b-a919-b1d475b6c674",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        740,
        -20
      ],
      "id": "22e6c81e-848c-4d79-b4cc-db3da3f0f7a4",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "VAPHa9OefCSf92SO",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "family14674809639249022051@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Guest Visit"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        80
      ],
      "id": "353c2f3a-4d4d-4037-bf09-55334348c2a0",
      "name": "Google Calendar Trigger1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8PHNMP7tq5uUHu7d",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "family14674809639249022051@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Guest Visit"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        300
      ],
      "id": "67c87c21-b77b-4b33-82e2-0c0bb98c2e03",
      "name": "Google Calendar Trigger2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8PHNMP7tq5uUHu7d",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "966d438a-1b6b-43c0-a5ad-c4f2aea073e0",
              "leftValue": "={{ $('Google Calendar Trigger').item.json.start.date }}",
              "rightValue": "={{ $json.today }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b56fa5b9-1cd6-461f-978d-81406b8d9154",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -140
      ],
      "id": "e8ffaa8c-3ee2-4d09-8f37-db9a1c1d3f56",
      "name": "If2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Calendar Trigger').item.json.attendees[0].email }}",
        "subject": "Birthday Wishes",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1060,
        -160
      ],
      "id": "6e8295dd-27e8-4d1e-a47c-81734097c5a3",
      "name": "Gmail2",
      "webhookId": "c2662035-1a5f-457d-88e5-247fa074be62",
      "credentials": {
        "gmailOAuth2": {
          "id": "BeULXI8kiiqQ083s",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item.json);\n\nconst updatedItems = items.map((item) => {\n  const startDate = new Date(item.start.dateTime);\n  const sevenDaysAfter = new Date(startDate);\n  sevenDaysAfter.setDate(startDate.getDate() + 7);\n\n  return {\n    summary: item.summary,\n    sevenDaysAfter: sevenDaysAfter.toISOString(),\n  };\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        300
      ],
      "id": "a8c0279e-4c46-4496-888e-2e61f5c7b831",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e7b21b59-5ea8-4d41-9212-1a75e43ce725",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d511aeb7979b54d166f4338131d0f730d79ac8b1c51c6d4df048eb97584e935f"
  },
  "id": "BVswysOxARExWXzh",
  "tags": []
}